* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
  #navbar{
    z-index: 9999;
    margin: 100px;
  }
.filterhead {
  /* border: 1px solid black; */
  margin-left: 180px;
  width: 100px;
  display: grid;
}

.rand{
  position: relative;
  top:180px;
  z-index: 2;;
  margin-top: 200px;
}
.content {
  display: flex;
  width: 98%;
  /* border: 1px solid yellow; */
  margin: auto;
}
.filters > div {
  /* border: 1px solid red; */
  width: 280px;
  height: auto;
  margin: 50px 0 0 165px;
}
#category,
#sizes,
#brand,
#color,
#design,
#fit,
#sleeve,
#neck,
#ratings,
#discount,
#sort {
  width: 100%;
  height: 35px;
  border: transparent;
  margin: auto;
  font-family: sans-serif;
  font-size: medium;
}
.products {
  /* border: 1px solid green; */
  width: 55%;
  height: auto;
  margin: 0 0 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  cursor: pointer;
}
.productbox {
  /* border: 1px solid greenyellow; */
  height: auto;
}
.productbox > img {
  width: 100%;
  height: 350px;
}
.count {
  color: black;
}
.path {
  margin-left: 150px;
  font-size: small;
  display: flex;
  color: grey;
  margin-top: 15px;
  gap: 25px;
  cursor: pointer;
  /* margin-bottom: 80px; */
}
.pricetext {
  color: black;
  font-size: medium;
  font-weight: lighter;
}
#navbar {
  position: fixed;
  margin-top: -15px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .count {
    margin-top: -250px;
    /* margin-left: 150px; */
    font-size: smaller;
  }
  /* #navbar{
      visibility: hidden;
      margin-bottom: 50px;
    } */
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 250px;
  }
  
  .rand{
    position: relative;
    top:180px;
    /* z-index: -1;; */
    margin-top: 200px;
  }
  .content {
    margin-left: -450px;
  }
  .banner {
    visibility: hidden;
  }
  .productbox {
    width: 170px;
  }
  .filterhead {
    visibility: hidden;
  }
}
/* for small screens */
@media all and (min-width: 340px) and (max-width: 767px) {
  /* #navbar{
      visibility: hidden;
    } */
  .filterhead {
    visibility: hidden;
  }
  .banner {
    content: none;
    visibility: hidden;
  }
  .filters {
    visibility: hidden;
  }
  .count {
    font-size: medium;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
  }
  .productbox {
    width: 200px;
  }
  
  .rand{
    position: relative;
    top:180px;
    /* z-index: -1;; */
    margin-top: 200px;
  }
  .content {
    margin-left: -450px;
    width: 600px;
  }
}
