#second-navbar{
    padding-top: 110px;
    display: flex;
    margin: auto;
    width: 30%;
    height: 150px;
    justify-content: space-evenly;
}
#second-navbar > div > a{
    text-decoration: none;
    color: black;
}
#second-navbar > div > a:hover{
    border-bottom: 5px solid #ffd835;
    border-radius: 2px;
    font-weight: bolder;
}
#grayDibba{
    height: 600px;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    background-color:#f4f4f4;
}
#heading{
    margin-top: 50px;
    padding-left: 50px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headingsath{
    display: inline-block;
    font-size: x-large;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#line{
    height: 0%;
    width: 130px;
    border: 1px solid orange;
    margin-left: 50px;
}

#bajuimage{
    margin-left: 870px;
    margin-top: 40px;
    height: 350px;
    /* margin-top: -50px; */
}

#white{
    height: 450px;
    width: 60%;
    /* border: 2px solid black; */
    margin-top: -355px;
    margin-left: 50px;
    background-color:  white;
}

#searchBar{
    border: none;
    font-size: 18px;
    margin: 60px 10px;
    /* margin-top: ; */
    /* padding-left: -300px; */
    /* border: 1px solid black; */
}

#underline{
   border: 1px solid black;
   width: 75%;
   margin-left: 40px;
   margin-top: -60px;
}

#glass{
 padding-left: 40px;
}

#inside{
    /* height: 0px; */
    width: 80%;
    /* border:  1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 150px;
    margin-left: 40px;
    margin-top: 50px;
    text-decoration: none;
}

.red{
    /* color: red; */
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
}

.phone{
    font-size: 18px;
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

.phoneTwo{
    padding-top: 20px;
    color: gray;
    font-size: 18px;
}