#second-navbar{
    padding-top: 110px;
    display: flex;
    margin: auto;
    width: 30%;
    height: 150px;
    justify-content: space-evenly;
}
#second-navbar > div > a{
    text-decoration: none;
    color: black;
}
#second-navbar > div > a:hover{
    border-bottom: 5px solid #ffd835;
    border-radius: 2px;
    font-weight: bolder;
}